/* NAVBAR */
body {
    font-family: 'Lexend Exa', sans-serif;
    background-color: khaki;
}

.navbar {
    position:absolute;
    margin-top: 10px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: 2px solid #151515;
    border-radius: 10px;
    animation: slide-in 1s ease-out;
    background-color:  #BC6C25;
}

.nav-ul-li:hover {
    background-color: #DDA15E;
}

.nav-ul {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 0 30px;
    list-style-type: none;

    li:not(:last-child) {
        margin-right: 40px;
    }

    li {
        border: 2px solid transparent;
        border-radius: 5px;
        padding: 10px;
        transition: background 0.2s;

        a {
            color: #FEFAE0;
            text-decoration: none;
            text-transform: uppercase;
            transition: color 0.2s;
        }

        ul {
            text-align: center;
            margin-left: 100px;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            display: block;
            margin: 12px -20px;
            padding: 5px;
            background: #DDA15E;
            border: 2px solid black;

            border-radius: 5px;
            transition: opacity 0.2s, visibility 0.2s;

            li {
                width: calc(100% - 5px);
                line-height: 1;

            }
        }

        &:hover {


            a {
                color:#FEFAE0;
            }

            ul {
                visibility: visible;
                opacity: 1;

                li:hover {
                    border-top: white;
                    border-bottom: 2px solid white;
                    border-radius: 0%;
                    a {
                        color: white;

                    }
                }
            }
        }
    }
}

.nav-contact {
    display: flex;
    color: white;
    margin-right: 10px;
    transition-duration: 2s;

    li {
        margin-right: 50px;
        margin-top: 15px;
    }

    li:hover {
        color: #151515;
        transition: all 0.5s;
        border-top: 1px solid #FEFAE0;
    }
}

@keyframes slide-in {
    0% {
        top: -50px;
    }

    40% {
        top: 20px;
    }

    70% {
        top: 10px;
    }

    100% {
        top: 15px;
    }
}


/* RECIPE SECTION */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    margin-right: 5%;
    margin-left: 5%;
    background-color:#DDA15E;
    border: #151515;
    box-shadow: 10px 10px 1px black;
    margin-bottom: 100px;
}

.about .about-image {
    height: 550px;
    width: 3000px;
    border-radius: 1%;
    padding-right: 30px;
    padding-left: 10px;
}



/* REVIEW */

.review-section {
    background: khaki;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 0.5rem;
}


.wrapper {
	background: #DDA15E;
	padding: 2rem;
	max-width: 576px;
	width: 100%;
	border-radius: .75rem;
	box-shadow: var(--shadow);
	text-align: center;
}
.wrapper h3 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}
.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: .5rem;
	font-size: 2rem;
	color: #606C38;
	margin-bottom: 2rem;
}
.rating .star {
	cursor: pointer;
}
.rating .star.active {
	opacity: 0;
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


.rating .star:hover {
	transform: scale(1.1);
}
textarea {
	width: 100%;
	background: var(--light);
	padding: 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	resize: none;
	margin-bottom: .5rem;
}
.btn-group {
	display: flex;
	grid-gap: .5rem;
	align-items: center;
}
.btn-group .btn {
	padding: .75rem 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: .875rem;
	font-weight: 500;
}
.btn-group .btn.submit {
	background: #BC6C25;
	color: var(--white);
}
.btn-group .btn.submit:hover {
	background: khaki;
    color: #151515;
}
.btn-group .btn.cancel {
	background: #BC6C25;
	color: white;
}
.btn-group .btn.cancel:hover {
	background: khaki;
    color: #151515;
}

:root {
	--yellow: #FFBD13;
	--blue: #4383FF;
	--blue-d-1: #3278FF;
	--light: #F5F5F5;
	--grey: #AAA;
	--white: #FFF;
	--shadow: 8px 8px 30px rgba(0,0,0,.05);
}

/* body {
	background: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 1rem;
} */

/* FOOTER */
footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}
