.body {
    background-color: khaki;
    color: #151515;
}

/* NAVBAR */

nav {
    background-color: #606C38;
    color:  #FEFAE0 ;
}

li {
    transition: 0.5s;
}

.anchor1:hover {
    box-shadow: -5px 5px 1px #DDA15E;
    background-color: #FEFAE0;
    color: #151515;
    border-radius: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
    transition-property: box-shadow;

}